In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'a': [1, 2] * 3,
                       'b': [True, False] * 3,
                       'c': [1.0, 2.0] * 3})

df

   a      b    c
0  1   True  1.0
1  2  False  2.0
2  1   True  1.0
3  2  False  2.0
4  1   True  1.0
5  2  False  2.0

In [7]:
# get (num of rows, hum of cols)
df.shape

(6, 3)

In [4]:
df.select_dtypes(include='bool')

       b
0   True
1  False
2   True
3  False
4   True
5  False

In [5]:
df.select_dtypes(exclude=['int64'])

       b    c
0   True  1.0
1  False  2.0
2   True  1.0
3  False  2.0
4   True  1.0
5  False  2.0